@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-qDrLlHpDU2t8XI: #8c1c84;
  --plasmic-token-purple: var(--token-qDrLlHpDU2t8XI);
  --token-v40RXZnaDP6mhB: #45a2f8;
  --plasmic-token-blue: var(--token-v40RXZnaDP6mhB);
  --token-yJJFJqlyc1SLNf: #ffffff;
  --plasmic-token-white: var(--token-yJJFJqlyc1SLNf);
  --token-KW3tEoHe_PqDOb: #000000;
  --plasmic-token-black: var(--token-KW3tEoHe_PqDOb);
  --token-sWkog_tzv24PJu: 100%;
  --plasmic-token-full-width: var(--token-sWkog_tzv24PJu);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-rzSboK7TzjyM5_font-family: "Inter", sans-serif;
  --mixin-rzSboK7TzjyM5_font-size: 16px;
  --mixin-rzSboK7TzjyM5_font-weight: 400;
  --mixin-rzSboK7TzjyM5_font-style: normal;
  --mixin-rzSboK7TzjyM5_color: #535353;
  --mixin-rzSboK7TzjyM5_text-align: left;
  --mixin-rzSboK7TzjyM5_text-transform: none;
  --mixin-rzSboK7TzjyM5_line-height: 1.5;
  --mixin-rzSboK7TzjyM5_letter-spacing: normal;
  --mixin-rzSboK7TzjyM5_white-space: pre-wrap;
  --mixin-rzSboK7TzjyM5_user-select: text;
  --mixin-rzSboK7TzjyM5_text-decoration-line: none;
  --mixin-rzSboK7TzjyM5_text-overflow: clip;
  --mixin-7O3yI51LlFpGK_color: #000000;
  --mixin-7O3yI51LlFpGK_font-weight: 900;
  --mixin-7O3yI51LlFpGK_font-size: 72px;
  --mixin-7O3yI51LlFpGK_line-height: 1;
  --mixin-7O3yI51LlFpGK_letter-spacing: -4px;
  --mixin-7O3yI51LlFpGK_white-space: pre-wrap;
  --mixin-Vpqo6eHYpbiWN_color: #000000;
  --mixin-Vpqo6eHYpbiWN_font-size: 48px;
  --mixin-Vpqo6eHYpbiWN_font-weight: 700;
  --mixin-Vpqo6eHYpbiWN_letter-spacing: -1px;
  --mixin-Vpqo6eHYpbiWN_line-height: 1.1;
  --mixin-Vpqo6eHYpbiWN_white-space: pre-wrap;
  --mixin-IPQXzJ9SUNNYi_color: #0070f3;
  --mixin-IPQXzJ9SUNNYi_white-space: pre-wrap;
  --mixin-L3ATNN3Fvfe5y_color: #000000;
  --mixin-L3ATNN3Fvfe5y_font-size: 32px;
  --mixin-L3ATNN3Fvfe5y_font-weight: 600;
  --mixin-L3ATNN3Fvfe5y_letter-spacing: -0.8px;
  --mixin-L3ATNN3Fvfe5y_line-height: 1.2;
  --mixin-L3ATNN3Fvfe5y_white-space: pre-wrap;
  --mixin-XfzcYwA7n6OCP_color: #000000;
  --mixin-XfzcYwA7n6OCP_font-size: 24px;
  --mixin-XfzcYwA7n6OCP_font-weight: 600;
  --mixin-XfzcYwA7n6OCP_letter-spacing: -0.5px;
  --mixin-XfzcYwA7n6OCP_line-height: 1.3;
  --mixin-XfzcYwA7n6OCP_white-space: pre-wrap;
  --mixin--tSfyEwX8DBwr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--tSfyEwX8DBwr_border-bottom-color: #dddddd;
  --mixin--tSfyEwX8DBwr_border-bottom-style: solid;
  --mixin--tSfyEwX8DBwr_border-bottom-width: 1px;
  --mixin--tSfyEwX8DBwr_border-left-color: #dddddd;
  --mixin--tSfyEwX8DBwr_border-left-style: solid;
  --mixin--tSfyEwX8DBwr_border-left-width: 1px;
  --mixin--tSfyEwX8DBwr_border-right-color: #dddddd;
  --mixin--tSfyEwX8DBwr_border-right-style: solid;
  --mixin--tSfyEwX8DBwr_border-right-width: 1px;
  --mixin--tSfyEwX8DBwr_border-top-color: #dddddd;
  --mixin--tSfyEwX8DBwr_border-top-style: solid;
  --mixin--tSfyEwX8DBwr_border-top-width: 1px;
  --mixin--tSfyEwX8DBwr_border-bottom-left-radius: 3px;
  --mixin--tSfyEwX8DBwr_border-bottom-right-radius: 3px;
  --mixin--tSfyEwX8DBwr_border-top-left-radius: 3px;
  --mixin--tSfyEwX8DBwr_border-top-right-radius: 3px;
  --mixin--tSfyEwX8DBwr_font-family: "Inconsolata";
  --mixin--tSfyEwX8DBwr_padding-bottom: 1px;
  --mixin--tSfyEwX8DBwr_padding-left: 4px;
  --mixin--tSfyEwX8DBwr_padding-right: 4px;
  --mixin--tSfyEwX8DBwr_padding-top: 1px;
  --mixin--tSfyEwX8DBwr_white-space: pre-wrap;
  --mixin-pMjALHU4iQImG_border-left-color: #dddddd;
  --mixin-pMjALHU4iQImG_border-left-style: solid;
  --mixin-pMjALHU4iQImG_border-left-width: 3px;
  --mixin-pMjALHU4iQImG_color: #888888;
  --mixin-pMjALHU4iQImG_padding-left: 10px;
  --mixin-pMjALHU4iQImG_white-space: pre-wrap;
  --mixin-nZGsuaTsrsoc__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-nZGsuaTsrsoc__border-bottom-color: #dddddd;
  --mixin-nZGsuaTsrsoc__border-bottom-style: solid;
  --mixin-nZGsuaTsrsoc__border-bottom-width: 1px;
  --mixin-nZGsuaTsrsoc__border-left-color: #dddddd;
  --mixin-nZGsuaTsrsoc__border-left-style: solid;
  --mixin-nZGsuaTsrsoc__border-left-width: 1px;
  --mixin-nZGsuaTsrsoc__border-right-color: #dddddd;
  --mixin-nZGsuaTsrsoc__border-right-style: solid;
  --mixin-nZGsuaTsrsoc__border-right-width: 1px;
  --mixin-nZGsuaTsrsoc__border-top-color: #dddddd;
  --mixin-nZGsuaTsrsoc__border-top-style: solid;
  --mixin-nZGsuaTsrsoc__border-top-width: 1px;
  --mixin-nZGsuaTsrsoc__border-bottom-left-radius: 3px;
  --mixin-nZGsuaTsrsoc__border-bottom-right-radius: 3px;
  --mixin-nZGsuaTsrsoc__border-top-left-radius: 3px;
  --mixin-nZGsuaTsrsoc__border-top-right-radius: 3px;
  --mixin-nZGsuaTsrsoc__font-family: "Inconsolata";
  --mixin-nZGsuaTsrsoc__padding-bottom: 3px;
  --mixin-nZGsuaTsrsoc__padding-left: 6px;
  --mixin-nZGsuaTsrsoc__padding-right: 6px;
  --mixin-nZGsuaTsrsoc__padding-top: 3px;
  --mixin-nZGsuaTsrsoc__white-space: pre-wrap;
  --mixin-mtZ3m960zJute_display: flex;
  --mixin-mtZ3m960zJute_flex-direction: column;
  --mixin-mtZ3m960zJute_align-items: stretch;
  --mixin-mtZ3m960zJute_justify-content: flex-start;
  --mixin-mtZ3m960zJute_list-style-position: outside;
  --mixin-mtZ3m960zJute_padding-left: 40px;
  --mixin-mtZ3m960zJute_position: relative;
  --mixin-mtZ3m960zJute_list-style-type: disc;
  --mixin-mtZ3m960zJute_white-space: pre-wrap;
  --mixin-XgViUR_RxaSQr_display: flex;
  --mixin-XgViUR_RxaSQr_flex-direction: column;
  --mixin-XgViUR_RxaSQr_align-items: stretch;
  --mixin-XgViUR_RxaSQr_justify-content: flex-start;
  --mixin-XgViUR_RxaSQr_list-style-position: outside;
  --mixin-XgViUR_RxaSQr_padding-left: 40px;
  --mixin-XgViUR_RxaSQr_position: relative;
  --mixin-XgViUR_RxaSQr_list-style-type: decimal;
  --mixin-XgViUR_RxaSQr_white-space: pre-wrap;
  --mixin-c6aP_emeUJVwS_color: #000000;
  --mixin-c6aP_emeUJVwS_font-size: 20px;
  --mixin-c6aP_emeUJVwS_font-weight: 600;
  --mixin-c6aP_emeUJVwS_letter-spacing: -0.3px;
  --mixin-c6aP_emeUJVwS_line-height: 1.5;
  --mixin-c6aP_emeUJVwS_white-space: pre-wrap;
  --mixin-7eXydeXuVXGyL_color: #000000;
  --mixin-7eXydeXuVXGyL_font-size: 16px;
  --mixin-7eXydeXuVXGyL_font-weight: 600;
  --mixin-7eXydeXuVXGyL_line-height: 1.5;
  --mixin-7eXydeXuVXGyL_white-space: pre-wrap;
  --mixin-4-6QSblbBsBx6_color: #3291ff;
  --mixin-4-6QSblbBsBx6_white-space: pre-wrap;
  --mixin-vNNd-Fjnxs7U8_white-space: pre-wrap;
  --mixin-YzKKnIcsVnlGW_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-rzSboK7TzjyM5_font-family);
  font-size: var(--mixin-rzSboK7TzjyM5_font-size);
  font-weight: var(--mixin-rzSboK7TzjyM5_font-weight);
  font-style: var(--mixin-rzSboK7TzjyM5_font-style);
  color: var(--mixin-rzSboK7TzjyM5_color);
  text-align: var(--mixin-rzSboK7TzjyM5_text-align);
  text-transform: var(--mixin-rzSboK7TzjyM5_text-transform);
  line-height: var(--mixin-rzSboK7TzjyM5_line-height);
  letter-spacing: var(--mixin-rzSboK7TzjyM5_letter-spacing);
  white-space: var(--mixin-rzSboK7TzjyM5_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-7O3yI51LlFpGK_color);
  font-weight: var(--mixin-7O3yI51LlFpGK_font-weight);
  font-size: var(--mixin-7O3yI51LlFpGK_font-size);
  line-height: var(--mixin-7O3yI51LlFpGK_line-height);
  letter-spacing: var(--mixin-7O3yI51LlFpGK_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Vpqo6eHYpbiWN_color);
  font-size: var(--mixin-Vpqo6eHYpbiWN_font-size);
  font-weight: var(--mixin-Vpqo6eHYpbiWN_font-weight);
  letter-spacing: var(--mixin-Vpqo6eHYpbiWN_letter-spacing);
  line-height: var(--mixin-Vpqo6eHYpbiWN_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-IPQXzJ9SUNNYi_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-L3ATNN3Fvfe5y_color);
  font-size: var(--mixin-L3ATNN3Fvfe5y_font-size);
  font-weight: var(--mixin-L3ATNN3Fvfe5y_font-weight);
  letter-spacing: var(--mixin-L3ATNN3Fvfe5y_letter-spacing);
  line-height: var(--mixin-L3ATNN3Fvfe5y_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-XfzcYwA7n6OCP_color);
  font-size: var(--mixin-XfzcYwA7n6OCP_font-size);
  font-weight: var(--mixin-XfzcYwA7n6OCP_font-weight);
  letter-spacing: var(--mixin-XfzcYwA7n6OCP_letter-spacing);
  line-height: var(--mixin-XfzcYwA7n6OCP_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--tSfyEwX8DBwr_font-family);
  border-radius: var(--mixin--tSfyEwX8DBwr_border-top-left-radius)
    var(--mixin--tSfyEwX8DBwr_border-top-right-radius)
    var(--mixin--tSfyEwX8DBwr_border-bottom-right-radius)
    var(--mixin--tSfyEwX8DBwr_border-bottom-left-radius);
  padding: var(--mixin--tSfyEwX8DBwr_padding-top)
    var(--mixin--tSfyEwX8DBwr_padding-right)
    var(--mixin--tSfyEwX8DBwr_padding-bottom)
    var(--mixin--tSfyEwX8DBwr_padding-left);
  border-top: var(--mixin--tSfyEwX8DBwr_border-top-width)
    var(--mixin--tSfyEwX8DBwr_border-top-style)
    var(--mixin--tSfyEwX8DBwr_border-top-color);
  border-right: var(--mixin--tSfyEwX8DBwr_border-right-width)
    var(--mixin--tSfyEwX8DBwr_border-right-style)
    var(--mixin--tSfyEwX8DBwr_border-right-color);
  border-bottom: var(--mixin--tSfyEwX8DBwr_border-bottom-width)
    var(--mixin--tSfyEwX8DBwr_border-bottom-style)
    var(--mixin--tSfyEwX8DBwr_border-bottom-color);
  border-left: var(--mixin--tSfyEwX8DBwr_border-left-width)
    var(--mixin--tSfyEwX8DBwr_border-left-style)
    var(--mixin--tSfyEwX8DBwr_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-pMjALHU4iQImG_color);
  padding-left: var(--mixin-pMjALHU4iQImG_padding-left);
  border-left: var(--mixin-pMjALHU4iQImG_border-left-width)
    var(--mixin-pMjALHU4iQImG_border-left-style)
    var(--mixin-pMjALHU4iQImG_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-nZGsuaTsrsoc__font-family);
  border-radius: var(--mixin-nZGsuaTsrsoc__border-top-left-radius)
    var(--mixin-nZGsuaTsrsoc__border-top-right-radius)
    var(--mixin-nZGsuaTsrsoc__border-bottom-right-radius)
    var(--mixin-nZGsuaTsrsoc__border-bottom-left-radius);
  padding: var(--mixin-nZGsuaTsrsoc__padding-top)
    var(--mixin-nZGsuaTsrsoc__padding-right)
    var(--mixin-nZGsuaTsrsoc__padding-bottom)
    var(--mixin-nZGsuaTsrsoc__padding-left);
  border-top: var(--mixin-nZGsuaTsrsoc__border-top-width)
    var(--mixin-nZGsuaTsrsoc__border-top-style)
    var(--mixin-nZGsuaTsrsoc__border-top-color);
  border-right: var(--mixin-nZGsuaTsrsoc__border-right-width)
    var(--mixin-nZGsuaTsrsoc__border-right-style)
    var(--mixin-nZGsuaTsrsoc__border-right-color);
  border-bottom: var(--mixin-nZGsuaTsrsoc__border-bottom-width)
    var(--mixin-nZGsuaTsrsoc__border-bottom-style)
    var(--mixin-nZGsuaTsrsoc__border-bottom-color);
  border-left: var(--mixin-nZGsuaTsrsoc__border-left-width)
    var(--mixin-nZGsuaTsrsoc__border-left-style)
    var(--mixin-nZGsuaTsrsoc__border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-mtZ3m960zJute_display);
  flex-direction: var(--mixin-mtZ3m960zJute_flex-direction);
  align-items: var(--mixin-mtZ3m960zJute_align-items);
  justify-content: var(--mixin-mtZ3m960zJute_justify-content);
  list-style-position: var(--mixin-mtZ3m960zJute_list-style-position);
  padding-left: var(--mixin-mtZ3m960zJute_padding-left);
  position: var(--mixin-mtZ3m960zJute_position);
  list-style-type: var(--mixin-mtZ3m960zJute_list-style-type);
  flex-column-gap: var(--mixin-mtZ3m960zJute_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-XgViUR_RxaSQr_display);
  flex-direction: var(--mixin-XgViUR_RxaSQr_flex-direction);
  align-items: var(--mixin-XgViUR_RxaSQr_align-items);
  justify-content: var(--mixin-XgViUR_RxaSQr_justify-content);
  list-style-position: var(--mixin-XgViUR_RxaSQr_list-style-position);
  padding-left: var(--mixin-XgViUR_RxaSQr_padding-left);
  position: var(--mixin-XgViUR_RxaSQr_position);
  list-style-type: var(--mixin-XgViUR_RxaSQr_list-style-type);
  flex-column-gap: var(--mixin-XgViUR_RxaSQr_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-c6aP_emeUJVwS_color);
  font-size: var(--mixin-c6aP_emeUJVwS_font-size);
  font-weight: var(--mixin-c6aP_emeUJVwS_font-weight);
  letter-spacing: var(--mixin-c6aP_emeUJVwS_letter-spacing);
  line-height: var(--mixin-c6aP_emeUJVwS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-7eXydeXuVXGyL_color);
  font-size: var(--mixin-7eXydeXuVXGyL_font-size);
  font-weight: var(--mixin-7eXydeXuVXGyL_font-weight);
  line-height: var(--mixin-7eXydeXuVXGyL_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-4-6QSblbBsBx6_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
